src/main/config/RoutingGrid.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2013 (x64) (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="WsdlUrl" type="xs:anyURI"/>
	<xs:element name="System">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Link" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="type" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="PES"/>
						<xs:enumeration value="Json330"/>
						<xs:enumeration value="Json400"/>
						<xs:enumeration value="Json420"/>
						<xs:enumeration value="Json440"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="name" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="EFTOnline"/>
						<xs:enumeration value="PTS"/>
						<xs:enumeration value="RedirectRouter"/>
						<xs:enumeration value="DDOnline"/>
						<xs:enumeration value="PayoutOnline"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="Link">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="WsdlUrl"/>
			</xs:sequence>
			<xs:attribute name="order" type="xs:byte" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Grid">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="System" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
